@font-face {
    font-family: Daft;
    src: url(../Daft\ Script\ DEMO.otf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2b4030;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #cad0cb;
    background-size: cover;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 600;

}

nav {
    border-bottom: 2px solid #000;
    border-radius: 5px;
}

nav a {
    font-family: 'Daft', sans-serif;
    font-size: 36px;
}

a:hover {
    color: steelblue;
    text-decoration: underline;
}

li:active {
    transform: scale(0.975);
}

ul {
    list-style: none;
}

nav ul {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 50%;
    max-width: 60%;
    justify-content: center;
    justify-items: center;
}

nav ul li {
    padding: 10px;
    white-space: nowrap;
}

/* Main Content */
.video-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.video {
    padding: 20px;
    margin-top: 30px;
}

.main-container {
    height: auto;
    width: auto;
    margin: auto;
}

.breakdown-container {
    margin: auto;
}

.breakdown-container .main-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-info img {
    width: 595px;
    height: 842px;
}
/* Footer */
.footer-container .footer-text {
    display: flex;
    margin: auto;
    min-width: 50%;
    max-width: 60%;
    align-items: center;
    justify-content: space-between;
}

.right-footer {
    display: flex;
    gap: 20px;
}

.right-footer a img {
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    transition: 0.18s ease-in;
}

.right-footer a img:hover {
    transform: scale(0.97);
}

.footer-text p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.left-footer h3 {
    font-size: 20px;
}






/* Media Queries */

@media screen and (max-width: 1400px){

    .video video{
        width: 600px;
        height: auto;
    }

    .video video poster {
        display: none;
    }
}

@media screen and (max-width: 1250px){
    .breakdown-container .main-info {
        flex-direction: column;
    }
}


@media screen and (max-width: 1050px){

    a {
        font-size: 24px;
    }

    .left-footer, .right-footer {
        font-size: 16px
    }

    .right-footer {
        margin: auto;
        gap: 10px;
    }

    .right-footer p {
        display: none;
    }

    .left-footer {
        display: none;
    }

    .right-footer a img {
        margin-top: 2rem;
        height: 40px;
        width: auto;
    }
}


@media screen and (max-width: 700px) {
    nav a {
        font-size: 28px;
    }

    .video video{
        width: 500px;
        height: auto;
    }
    .main-info img {
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    nav a {
        font-size: 28px;
    }

    .video video{
        width: 350px;
        height: auto;
    }
    .main-info img {
        width: 350px;
        height: auto;
    }
}

@media screen and (max-width: 350px) {
    nav a {
        font-size: 24px;
    }

    .video video{
        width: 300px;
        height: auto;
    }
    .main-info img {
        width: 300px;
        height: auto;
    }
}