@font-face {
    font-family: Daft;
    src: url(../Daft\ Script\ DEMO.otf);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #2b4030;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #cad0cb;
    background-size: cover;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    font-weight: 600;

}

nav {
    border-bottom: 2px solid #000;
    border-radius: 5px;
}

nav a {
    font-family: 'Daft', sans-serif;
    font-size: 36px;
}


a:hover {
    color: steelblue;
    text-decoration: underline;
}

li:active {
    transform: scale(0.975);
}

ul {
    list-style: none;
}

nav ul {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    min-width: 50%;
    max-width: 60%;
    justify-content: center;
    justify-items: center;
}

nav ul li {
    padding: 10px;
    white-space: nowrap;
}

/* Characters */

.header {
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
    color: #000;
    font-family: 'Daft', sans-serif;
    font-size: 3rem;
    text-decoration: underline;
}

.main-container {
    margin: auto;
    margin-top: 2.5rem;
    min-width: 50%;
    max-width: 90%;
}

.main-container .charandprops {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding-bottom: 5rem;
}

.charandprops .mobiletip {
    grid-column: 1 / 3;
    margin: auto;
    color: #000;
    font-family: 'Daft', sans-serif;
    font-size: 24px;
    display: none;
}

.main-container .characters {
    display: grid;
    grid-column: 1 / 2;
    grid-template-columns: 100%;
    grid-template-rows: 2% auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.main-container .props {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: 100%;
    grid-template-rows: 2% auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

/* Characters */

.main-container .characters .reedturn {
    height: auto;
    width: 916px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .reedstyle {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}


.main-container .characters .reedexpress {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .disenchant {
    height: auto;
    width: 618px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .boarstart {
    height: auto;
    width: 1500px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .boarturn {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .dadpose {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .butchexpress {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .characterlineup {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .lineup {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .kitsune {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .oni {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .cappy {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .kappaboar {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .characters .devillambent2 {
    height: auto;
    width: 1250px;
    grid-column: 1 / 1;
    margin: auto;
}

/* Props */

.main-container .props .futuramaprops {
    height: auto;
    width: 700px;
    grid-column: 1/2;
    margin: auto;
}

.main-container .props .plant {
    height: auto;
    width: 700px;
    grid-column: 1/2;
    margin: auto;
}

.main-container .props .slots {
    height: auto;
    width: 700px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .props .chair {
    height: auto;
    width: 700px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .props .spaceship {
    height: auto;
    width: 700px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .props .welding {
    height: auto;
    width: 700px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .props .gnoll {
    height: auto;
    width: 700px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .props .uzi {
    height: auto;
    width: 700px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .props .fry {
    height: auto;
    width: 700px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container .props .stove {
    height: auto;
    width: 700px;
    grid-column: 1 / 1;
    margin: auto;
}

.main-container img {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    cursor: pointer;
}

.characters img {
    max-width: 60%;
}

.props img {
    max-width: 60%;
}

.main-container img {
    object-fit: cover;
    transition: .2s linear;
}

.main-container img:hover {
    transform: scale(1.1);
}

.main-container .popup-image {
    position: fixed;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

/* .main-container .popup-image span {
    position: absolute;
    top: 0;right: 30px;
    font-size: 110px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    transition: .2s linear; 
} */

/* .main-container .popup-image span:hover {
    transform: scale(1.1);
    color: lightcoral;
} */



.main-container .popup-image img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #000;
    width: 750px;
    object-fit: cover;
}

@media (max-width:768px){
    .main-container .popup-image img {
        width: 95%;
    }

}



/* Footer */

.footer-container .footer-text {
    display: flex;
    margin: auto;
    min-width: 50%;
    max-width: 60%;
    align-items: center;
    justify-content: space-between;
    color: #000;
}

.right-footer {
    display: flex;
    gap: 20px;
}

.right-footer a img {
    align-items: center;
    justify-content: center;
    height: 50px;
    width: auto;
    transition: 0.18s ease-in;
}

.right-footer a img:hover {
    transform: scale(0.97);
}

.footer-text p {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.left-footer h3 {
    font-size: 20px;
}


/* Media Queries */

@media screen and (max-width: 1050px){
    .left-footer, .right-footer {
        font-size: 16px
    }

    .right-footer {
        margin: auto;
        gap: 10px;
    }

    .right-footer p {
        display: none;
    }

    .left-footer {
        display: none;
    }

    .right-footer a img {
        margin-top: 2rem;
        height: 40px;
        width: auto;
    }    
}

@media screen and (max-width: 900px) {
    .main-container .mobiletip {
        display: flex;
        padding: 15px;
    }
}

@media screen and (max-width: 650px) {
    nav a {
        font-size: 24px;
    }

    .header {
        font-size: 27px;
    }
}

@media screen and (max-width: 500px) {
    .main-container .mobiletip {
        font-size: 18px;
    }
}